@(stories: List[Story])(implicit lang: Lang, auth: hu.jupi.play.authentication.WithAuthentication)
@import hu.jupi.play.authentication._

@toYesNo(l: Boolean) = {
    @l match {
        case true => {@Messages("yes")}
        case _ => {@Messages("no")}
    }
}

@main(Messages("stories"), "nav-stories") {
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Messages("title")</th>
                <th>@Messages("started_by")</th>
                <th>@Messages("public")</th>
                <th>@Messages("adult_content_enabled")</th>
                <th>@Messages("tags")</th>
            </tr>
        </thead>
        <tbody>
        @stories.map { story =>
            <tr>
                <td><a href="@routes.Application.storyBoardAction(story.id)">@story.title</a></td>
                <td>@story.master.alias</td>
                <td>@toYesNo(story.public)</td>
                <td>@toYesNo(story.adult)</td>
                <td>@story.tags.mkString(", ")</td>
            </tr>
        }
        </tbody>
    </table>
}
